.page {
  background-color: #000000;
  max-width: 1280px;
  width: 100%;
  font-family: 'Inter', 'Arial', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  margin: 0 auto;

}

.header {
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid rgba(84, 84, 84, 1);
}

.header__logo {
  margin: 45px auto 41px auto;
}

@media screen and (max-width: 767px) {
  .header__logo {
    margin: 28px auto 32px 27px;
    width: 103px;
  }
}

.profile {
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.profile__info {
  display: grid;
  align-self: center;
  grid-template-columns: 1fr 24px;
  row-gap: 14px;
  column-gap: 25px;
}

@media screen and (max-width: 767px) {
  .profile__info {
    justify-content: center;
    text-align: center;
    row-gap: 3px;
    column-gap: 13px;
  }
}

.profile__title {
  color: #FFFFFF;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  text-align: left;

}

@media screen and (max-width: 767px) {
  .profile__title {
    font-size: calc(27px + (42 - 27) * ((100vw - 320px)/(1280 - 320)));
    line-height: 33px;

  }
}

.profile__subtitle {
  color: #FFFFFF;
  margin: 0;
  margin-bottom: 20px;
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;


}

@media screen and (max-width: 767px) {
  .profile__subtitle {
    font-size: calc(14px + (18 - 14) * ((100vw - 320px)/(1280 - 320)));
    line-height: 17px;
    text-align: center;
  }
}


.info__button-edit {
  background-image: url('/images/EditButton.svg');
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  cursor: pointer;
  height: 24px;
  margin: 0;
  margin-top: 12px;
  align-self: center;
  background-color: #000000;
  transition: .5s ease-in-out;
}

@media screen and (max-width: 767px) {

  .info__button-edit {
    height: 18px;
    margin: 0px;
  }
}

.info__button-edit:hover {
  opacity: 0.5;
}

.profile__button-add {
  background-image: url('/images/AddButton.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 150px;
  height: 50px;
  border: none;
  cursor: pointer;
  margin: 31px 0 48px auto;
  align-self: center;
  justify-content: end;
  background-color: #000000;
  transition: .5s ease-in-out;
}

.profile__button-add:hover {
  opacity: 0.5;
}

@media screen and (max-width: 767px) {
  .profile__button-add {
    background-image: url('/images/AddButton282.svg');
    background-size: contain;
    width: 282px;
    margin: 16px auto 36px auto;
  }
}

.profile__img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin: 40px 30px 51px 0;
}

@media screen and (max-width: 767px) {
  .profile__img {
    margin: 42px auto 23px auto;
  }
}

.element {
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  gap: 20px 17px;

}



.element__names {
  display: flex;
  justify-content: space-between;
  max-width: 246px;
  width: 100%;
  margin-top: 23px;
  margin-bottom: 25px;
  align-items: center;
}

.element__name {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}

@media screen and (max-width: 767px) {
  .element__name {
    margin-top: 2px;
  }
}

.element__like-btn {
  background-image: url('/images/like.svg');
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 22px;
  width: 100%;
  border: none;
  cursor: pointer;
  background-color: #FFFFFF;
  padding: 0;
  height: 19px;
  margin-right: 5px;
  transition: .5s ease-in-out;
}

.element__like-btn:hover {
  opacity: 0.5;

}
.element__like-btn_active {
  background-image: url('/images/likeblack.svg');
}

.element__card {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
}

@media screen and (max-width: 767px) {

  .element__card {
    margin: 0px 19px 0 19px;
  }

}


.element__foto {
  max-width: 100%;
  width: 100%;
  object-fit: cover;
}

.footer {
  max-width: 880px;
  width: 100%;
  margin: 0 auto;

}

.footer_copyright {
  margin: 67px auto 60px 0;
  color: #545454;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

}

@media screen and (max-width: 767px) {
  .footer_copyright {
    margin: 48px 19px 36px 19px;
    font-size: 14px;
    line-height: 17px;
  }
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup__opened {
  display: flex;
}

.popup__container {
  background-color: #FFFFFF;
  border-radius: 10px;
  color: #000;
  max-width: 430px;
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

@media screen and (max-width: 767px) {
  .popup__container {
    width: calc(282px + (430 - 282) * ((100vw - 320px)/(1280 - 320)));

  }
}

.popup__title {
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 34px auto 0 36px;
  margin-top: 34px;
}

@media screen and (max-width: 767px) {
  .popup__title {
    font-size: 18px;
    line-height: 22px;
    margin: 25px auto 0;


  }
}

.popup__form {
  max-width: 358px;
  width: 100%;
  margin-bottom: 37px;
  margin-top: 55px;
}

@media screen and (max-width: 767px) {
  .popup__form {
    width: calc(238px + (358 - 238) * ((100vw - 320px)/(1280 - 320)));
    margin-bottom: 32px;
    margin-top: 71px;
  }
}

.form__elements {
  border: 0;
  max-width: 358px;
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
  margin: 0 auto 0 auto;


}

.form__element {
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding-bottom: 13px;
}

.form__btn-save {
  height: 50px;
  margin-top: 58px;
  padding: 0;
  width: 100%;
  background: #000000;
  border-radius: 2px;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  cursor: pointer;
  transition: .5s ease-in-out;
}

.form__btn-save:hover {
  opacity: 0.5;
}

@media screen and (max-width: 767px) {
  .form__btn-save {
    height: calc(46px + (50 - 46) * ((100vw - 320px)/(1280 - 320)));
    margin-top: 35px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

  }
}

.popup__close {
  position: absolute;
  background-image: url('/images/CloseIcon.svg');
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 32px;
  width: 100%;
  border: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, .001);
  padding: 0;
  height: 32px;
  margin: 0;
  right: -40px;
  top: -40px;
  transition: .5s ease-in-out;
}

.popup__close:hover {
  opacity: 0.5;
}

@media screen and (max-width: 767px) {
  .popup__close {
    width: 22px;
    height: 22px;
    right: 0px;
  }
}
