.popup__elements {
  border: 0;
  max-width: 358px;
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 28px;
  margin: 0;
  margin-bottom: 30px;


}

@media screen and (max-width: 767px) {
  .popup__elements {
   margin-bottom: 41px;

  }
}
