.popup__form {
  max-width: 358px;
  width: 100%;
  margin-bottom: 37px;
  margin-top: 55px;
}
@media screen and (max-width: 767px) {
    .popup__form {
        width: calc(238px + (358 - 238) * ((100vw - 320px)/(1280 - 320)));
        margin-bottom: 32px;
        margin-top: 71px;
      }
}