.popup__form {
  max-width: 358px;
  width: 100%;
  margin-top: 21px;
}
@media screen and (max-width: 767px) {
    .popup__form {
        width: calc(238px + (358 - 238) * ((100vw - 320px)/(1280 - 320)));
       margin: 0;
       margin-top: 50px;
      }
}
