.profile__button-add {
  background-image: url('../../../images/AddButton.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 150px;
  height: 50px;
  border: none;
  cursor: pointer;
  margin: 31px 0 48px auto;
  align-self: center;
  justify-content: end;
  background-color: #000000;
  transition: .5s ease-in-out;
}
.profile__button-add:hover {
  opacity: 0.5;
}
@media screen and (max-width: 767px) {
    .profile__button-add {
        background-image: url('../../../images/AddButton282.svg');
        background-size: contain;
        width: 282px;
        margin: 16px auto 36px auto;
      }
}
