.profile__info {
  display: grid;
  align-self: center;
  grid-template-columns: 1fr 24px;
  row-gap: 14px;
  column-gap: 25px;
}
@media screen and (max-width: 767px) {
    .profile__info {

        row-gap: 6px;
        column-gap: 10px;
        margin-left: 30px;
        text-align: center;


      }
}
