.element__names {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 246px;
  
  box-sizing: border-box;
  padding: 25px 0px 26px 0px;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .element__names {
    padding: 24px 0px 23px 0px;
  }
}
